

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
    <a class="navbar-brand" routerLink="/">Talky</a>
    
  
    
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item">
          <a class="nav-link" routerLink="/member" routerLinkActive="active" >Friends</a>
         <!-- <div class="btn-group" dropdown>
            <a class="nav-link dropdown-toggle" dropdownToggle href="#" id="navbarDropdown" 
        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Friends
        </a>
            <ul id="dropdown" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" href="#" 
                *ngFor="let user of users">{{user.username}}</a></li>
              
            </ul>
          </div>-->
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
          </li>  
        
        <li class="nav-item">
            <a class="nav-link" routerLink="/Errors" routerLinkActive="active">Errors</a>
        </li>   
          
      </ul>
      <ng-container *ngIf = "(accountservice.CurrentUser$ |async) as user"  >
      <div class="dropdown" dropdown >
        
        <a class="nav-link dropdown-toggle text-light" dropdownToggle  id="navbarDropdown" 
        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          Welcome {{user.username|titlecase}}
        </a>
        <div class="dropdown-menu" *dropdownMenu aria-labelledby="navbarDropdown">
          <a class="dropdown-item" >Edit Profile</a>
          <a class="dropdown-item" >Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"  (click)="loginOut()">LogOut</a>
        </div>
      
    </div>
  </ng-container>
      <form #loginform="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit) = "login()"
      autocomplete="off" *ngIf = "(accountservice.CurrentUser$ |async)===null">
        <input 
         name="username"
         [(ngModel)]="model.username"
         class="form-control mr-sm-2" type="search" placeholder="Username" >
        
         <input
         name="password"
         [(ngModel)]="model.password" 
         class="form-control mr-sm-2" type="search" placeholder="Password" >

        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    
   </div>
  </nav>
